
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #47e7ad;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #1c4e1f;
  }
  .contact-container {
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 30px;
    left: 14%;
    top: 14%;
    position: absolute;
  }
  .contact {
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }
msg{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
  