<link rel="stylesheet" href="../static/footer.css">
<br><br><br>
<div id="footer-container" >
         <div id="part1">
             <div id="companyinfo"> <a id="sitelink" href="#">SatyaSportsClub</a>
                 <p id="title">best sports club in India</p>
                 <p id="detail">Give your best at our sports club. </p>
             </div>
             <div id="explore">
                 <p id="txt1">Explore</p> <a class="link" href="/services">Services</a> <a class="link" href="/about">About</a> <a class="link" href="/contact">Contact Us</a> <a class="link" href="/register">Register</a>
             </div>
             <div id="visit">
                 <p id="txt2">Visit</p>
                 <p class="text">Gomti Nagar </p>
                 <p class="text">Vishal Khand  </p>
                 <p class="text">Lucknow 206010 </p>
                 <p class="text">Phone: 7007257886 </p>
                
             </div>
             <div id="legal">
                 <p id="txt3">Legal</p> <a class="link1" href="#">Terms and Conditions</a> <a class="link1" href="#">Private Policy</a>
             </div>
             <div id="subscribe">
                 <p id="txt4">Contact to US<br> yaduvanshisatya07@gmail.com</p><br>
                 <a href="https://www.fackbook.com/profile.php?id=100020171951002" target="_blank"><i class="fa fa-facebook-square social fa-2x"></i></a> <a href="https://www.instagram.com/_satya._09" target="_blank"><i class="fa fa-instagram social fa-2x"></i> <a href="https://twitter.com/satya_2507" target="_blank"><i class="fa fa-twitter-square social fa-2x"></i></a>
             </div>
         </div>
         <div id="part2">
             <p id="txt6"> COPYRIGHT:copyright 2021 SatyaSportClub.com - All right reserved</p>
         </div>
</div>
 