{% extends 'base.html' %}
{% block title %}services{% endblock title %}
{% block body %}
<link rel="stylesheet" href="../static/services.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<br><br>
<section00>
<div class="container-s">
		<div class="row mbr-justify-content-center">

            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-volume-up fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Stay <span>Successful</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Successful athletes share a common denominator. They are determined to devote themselves to what they’re doing, to try as much as possible .Losing and winning is not in our hands, we can only try untill we win.Just remember hard work never goes in vein.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-calendar fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Being
                            <span>Focused</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Focus on 'here and now' and work so you can isolate any external distractions.
						Control your anger effectively and convert it into energy and to your advantage. you must focuse only at one thing at a time, this will definitly give you better result.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-globe fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Have
                            <span>A Positive Attitude</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Losses are just a reality of being an athlete. Setbacks will occur, and an athlete can’t be successful if they aren’t resilient. Even after a loss, successful athletes stay positive and use the experience as an opportunity .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-trophy fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Achieve <span>Your Targets</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">The main aim of goal setting focuses on increasing individuals’ motivational levels to achieve success by directing attention and applying energy levels into achieving the overall goal and We provide a healthy environment for it.</p>
                    </div>
                </div>
            </div>   
        </div>
</div>
<br><br>
<section01 id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">What we do</h2>
			<p class="text-center text-muted h5">Having and managing an authorised Sportsclub and providing a better Sports Environment.</p>
			<div class="row-mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card-1">
						<div class="card-block block-1">
							<h3 class="card-title">Membership Plans</h3>
							<p class="card-text">Rs 6500/- per month for those aged 30 years and above.<br>
							<br>Rs 5500/- per month for those aged 18-29 years<br>
							Rs 4500/- per month for those aged 12-17 years.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card-1">
						<div class="card-block block-2">
							<h3 class="card-title">Equipments</h3>
							<p class="card-text">We provide Best-Quality equipments at Our Sportsclub with resonsable prices and discounts.<br><br><br><br><br></p>	
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card-1">
						<div class="card-block block-3">
							<h3 class="card-title">Government Schemes</h3>
							<p class="card-text">Youth Sports Insurance Schemes,Cash Incentives,Scholorship and Fee Reiumbursements and many more.<br><br><br><br><br></p>							
						</div>
					</div>
				</div>
			</div>
			<div class="row-mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card-1">
						<div class="card-block block-4">
							<h3 class="card-title">Wide Exposures</h3>
							<p class="card-text">We Organise tournaments and competitions at State and National levels.Also We Combine the safest court technology in the world with eco-friendly materials to make your recreational areas the best for your communities and the environment .</p>							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card-1">
						<div class="card-block block-5">
							<h3 class="card-title">Safety</h3>
							<p class="card-text">Champions start on our training facilities, and they can push their abilities to the limit without the risk of injuring themselves when they're practicing on the Safest Court in the World. Our patented Lateral Forgiveness and superior shock absorption helps secure athletes when they're working to achieve their next level.</p>							
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card-1">
						<div class="card-block block-6">
							<h3 class="card-title">Now What?</h3>
							<p class="card-text">Get yourself registered in atleast one of the given sports and join our membership plans .50% discount on first 25 members.Hurry Up!! .</p>							
						</div>
					</div>
				</div>
			</div>
		</div>	
</section01>
<div style="position:absolute;bottom:-1600px" id="footer-container">
{% include 'footer.html' %}
{% endblock body %}